*{
    margin: 0px;
    padding: 0px;
}
body {  
    background-color: linear-gradient(to right, #6a11cb, #2575fc); 
    font-family: Verdana;
    font-size: 16px;
}

.cabecalho {
    background-color: #ff6600;
    color: #ffffff; 
    padding: 30px 20px; 
    font-size: 25px; 
    text-align: center; 
    display: flex; 
    justify-content: center;
}

#titulo {
    font-size: 30px; 
    text-align: center; 
}

.imgcentro {
    display: block; 
    margin: auto; 
    width: 300px; 
}

nav {
    padding-top: 0; 
    padding-bottom: 0; 
    font-size: 18px; 
}

li {
    display: inline-block; 
    font-size: 20px; 
    font-family: Verdana; 
    margin-right: 20px; 
}

li a {
    text-decoration: none;
    color: #000; 
}

li a:hover {
    color: #ff9900; 
}

button {
    font-size: 16px; 
    color: blue; 
    padding: 2px; 
    width: 150px; 
    border-radius: 8px; 
}
